PORT=3000

DB_HOST=zapagenda-postgres
DB_PORT=5432
DB_USER=zapagenda
DB_PASS=
DB_NAME=zapagenda

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

RABBITMQ_URL=amqp://guest:guest@zapagenda-rabbitmq:5672

NLP_SERVICE_URL=http://zapagenda-nlp:8000

GEMINI_API_KEY=

WHATSAPP_AUTH_DIR=/app/baileys-auth
