PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_USER=zapagenda
DB_PASS=changeme
DB_NAME=zapagenda

JWT_SECRET=change_me_jwt_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

NLP_SERVICE_URL=http://nlp:8000
